@import "./var.scss";

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
  @media (max-width: $small) {
    width: 100%;
    min-height: 100vh;
  }
  .cart-container {
    height: 100vh;
    max-width: 28rem;
    width: 100%;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;
    @media (max-width: $medium) {
      padding: 4px;
    }
    @media (max-width: $small) {
      max-width: 100%;
    }
    .cart-heading {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      gap: 2px;
      margin-left: 10px;
      border: none;
      background-color: transparent;
      @media (max-width: $medium) {
        margin-top: 35px;
      }
      .heading {
        margin-left: 10px;
      }
      .cart-num-items {
        margin-left: 10px;
        color: #f02d34;
      }
    }
    .empty-cart {
      margin: 40px;
      text-align: center;
      h3 {
        font-weight: 600;
        font-size: 20px;
      }
      .btn {
        width: 100%;
        padding: 10px 12px;
        border-radius: 15px;
        border: none;
        font-size: 20px;
        margin-top: 10px;
        margin-top: 40px;
        text-transform: uppercase;
        background-color: #f02d34;
        color: #fff;
        cursor: pointer;
        transform: scale(1, 1);
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.1, 1.1);
        }
        @media (max-width: $small) {
          font-size: 16px;
        }
      }
    }
    .product-container {
      margin-top: 15px;
      overflow: auto;
      max-height: 70vh;
      padding: 20px 10px;
      @media (max-width: $medium) {
        margin-top: 10px;
      }
      .product {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 20px;
        @media (max-width: $small) {
          gap: 5px;
          flex-wrap: wrap;
        }
        .cart-product-image {
          display: flex;
          align-items: center;
          width: 64px;
          height: 64px;
          border-radius: 15px;
          background-color: #ebebeb;
        }
        .item-descriptions {
          display: flex;
          justify-content: space-between;
          .item-info {
            flex: 1 0;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;
          }
        }
        .item-actions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .item-amount {
            display: flex;
            justify-content: space-around;
            flex: 1 0;
            align-items: center;
            .num {
              border: 0.5px solid #eaeaea;
              flex: 1;
              padding: 6.5px;
              height: 36px;
              @media (max-width: $small) {
                font-size: 14px;
              }
            }
            .item-amount-button {
              background: none;
              width: 36px;
              height: 36px;
              margin-left: -1px;
              font-size: 18px;
              padding: 5px 8px;
              border: 0.5px solid #eaeaea;
              cursor: pointer;
            }
          }
          .remove-item {
            width: 36px;
            background: none;
            height: 36px;
            border: 0.5px solid #eaeaea;
            font-weight: 600;
            cursor: pointer;
          }
        }

        //
      }
    }
    .cart-bottom {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 30px 65px;
      @media (max-width: $medium) {
        padding: 30px;
      }
      .total {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 22px;
          @media (max-width: $medium) {
            font-size: 20px;
          }
        }
      }
      .btn-container {
        width: 100%;
        margin: auto;
        .btn {
          width: 100%;
          max-width: 400px;
          padding: 10px 12px;
          border-radius: 15px;
          border: none;
          font-size: 20px;
          margin-top: 40px;
          text-transform: uppercase;
          background-color: #f02d34;
          color: #fff;
          cursor: pointer;
          transform: scale(1);
          transition: transform 0.5s ease;
          &:hover {
            transform: scale(1.1, 1.1);
          }
          @media (max-width: $small) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
